body{
	/*background for all browsers */
	background: #fbfbfb; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fbfbfb 0%, #d3d6d2 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fbfbfb), color-stop(100%,#d3d6d2)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fbfbfb 0%,#d3d6d2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fbfbfb 0%,#d3d6d2 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fbfbfb 0%,#d3d6d2 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fbfbfb 0%,#d3d6d2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d3d6d2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	
}

#page{
	height: 300px; 
	width: 300px; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 20px; 
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	/*rounded corners */
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	color: #FFF;
	border: solid 1px #093675;
	background: #0c4ca5;
}

label{
	margin-bottom: 10px; 
	font-family: Verdana, Sans-serif; 
	font-size: 16px; 
	text-align: center; 
}

.wrapper{
	width: 300px; 
}

button{
	padding: 3px; 
	
}

#pictureShow{
	height: 140px;
	margin: 10px auto 10px auto; 
		
	width: 90%; 
	background-color: #FFF; 
	border: 1px solid black; 
	
}	
